a:hover {opacity: 0.7;}
#schedule {position: relative;}
.schedule-column {
	float: left;
	padding: 0 4px;
}
.day-inner {
	background-color: #ebebed;
}

.timelabel-column {
	width: 50px;
	text-align: right;
}
.timelabel-inner {
	position: relative;
	
}
.timelabel {
	position: absolute;
	width: 100%;
	left: 0;
}
.timelabel span {display: block; margin-top: -6px; font-size: 12px;}
.schedule-day {
	width: 25%;
}
.column-header {display: block; margin-bottom: 10px;}
.hours {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.hour {position: absolute; top: 0; left: 0; width: 100%; height: 60px; border-top: 1px solid #ddd;}

.calendaritem {
	display: block;
	position: absolute;
	border-radius: 3px;
}

.calendarcontent {
	padding: 10px;
	overflow: visible;
}

.calendarcontent h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a.calendaritem.cl-1-1 {width: 100%;}
a.calendaritem.cl-1-2 {width: 49.5%;}
a.calendaritem.cl-2-2 {width: 49.5%; left: 50.5%;}
a.calendaritem.cl-1-3 {width: 32.667%;}
a.calendaritem.cl-2-3 {width: 32.667%; left: 33.667%;}
a.calendaritem.cl-3-3 {width: 32.667%; left: 67.334%;}
a.calendaritem.cl-1-4 {width: 24%;}
a.calendaritem.cl-2-4 {width: 24%; left: 25%;}
a.calendaritem.cl-3-4 {width: 24%; left: 51%;}
a.calendaritem.cl-4-4 {width: 24%; left: 76%;}
a.calendaritem.cl-1-5 {width: 20%;}
a.calendaritem.cl-2-5 {width: 20%; left: 20%;}
a.calendaritem.cl-3-5 {width: 20%; left: 40%;}
a.calendaritem.cl-4-5 {width: 20%; left: 60%;}
a.calendaritem.cl-5-5 {width: 20%; left: 80%;}